<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="MsxHost" value="1.1.1.1"/>
    <add key="MsxUsername" value="TestUser FromAppconfig"/>
    <add key="MsxPassword" value="pswrd123"/>
  </appSettings>
</configuration>